<html>
<head>
  <title>Login</title>
  <meta charset="utf-8">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'styles.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
      <h1>Welcome!</h1>
    <div id = "register">
                  <h3>Register</h3>

                  <form action='/registration' method="post">
                              {% csrf_token %}
                              
                              Name:<input type="text" name="firstname">
                              
                              {%for i in firstname%}
                                      <p id = "error">{{i}}</p>
                              {%endfor%}
                              
                              Alias:<input type="text" name="lastname">
                              
                              {%for i in lastname%}
                                      <p id = "error">{{i}}</p>
                              {%endfor%}
                              
                              Email:<input type="text" name="email">
                              
                              {%for i in email%}
                                      <p id = "error">{{i}}</p>
                              {%endfor%}
                              
                              Password: <input type="password" name="password">
                              
                              {%for i in password%}
                                      <p id = "error">{{i}}</p>
                              {%endfor%}
                              
                              Confirm Password:<input type="password" name="confirm">
                              
                              {%for i in confirm%}
                                      <p id = "error">{{i}}</p>
                              {%endfor%}
                              Date of birth<input type="date" name="birth">
                              {%for i in birth%}
                                      <p id = "error">{{i}}</p>
                              {%endfor%}
                              <input type="submit" value="Register">
                  </form>
      </div>
      <div id="login">
                  <h3>Login</h3>
                  <form action="/login" method="post">
                              {% csrf_token %}
                              Email:<input type="text" name="email">
                              
                              {%for i in loginemail%}
                                    <p id = "error">{{i}}</p>
                              {%endfor%}
                              
                              Password <input type="password" name="password">
                              {%for i in loginpassword%}
                                    <p id = "error">{{i}}</p>
                              {%endfor%}
                              
                              <input type="submit" value="Login">
                  </form>
      </div>
</body>
</html>